.about-header{
	height: 733px;
	background-image: url(../img/about-section-about-us.jpg);
}
/* 固定顶部导航 */
#fixed-nav{
	display: block;
}
/* 无极团队 */
.header-text{
	float: left;
	width: 420px;
	margin-top: 180px;
	margin-left: 150px;
}
.header-text h3{
	color: #FFFFFF;
	margin-bottom: 50px;
}
.header-text p{
	text-indent: 2em;
	color: #bad4d5;
	line-height: 27px;
}
.about-history{
	height: 816px;
	background-image: url(../img/about-section-history.jpg);
}
.history-center{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
/* 无极历程 */
.history-title{
	color: #FFFFFF;
	padding-top: 100px;
	margin-bottom: 143px;
}
.history-title h2{
	font-weight: normal;
}
 /* Swiper图片滚动  */
#swiper-wrapper .swiper-slide{
	width: 181px;
	margin-left: 42px;
	padding: 13px 20px;
}
.swiper-slide img{
	width: 181px;
	height: 197px;
	margin-bottom: 35px;
}
.swiper-slide span{
	color: #FFFFFF;
	font-size: 18px;
}
/* 小格子 */
.history-point li{
	margin-left: 143px;
	margin-right: 130px;
}
.history-text li{
	width: 192px;
	margin-left: 63px;
	margin-right: 30px;
	margin-top: 15px;
	text-align: center;
	color: #FFFFFF;
}
/* 公司文化 */
.about-culture{
	height: 728px;
	background-image: url(../img/about-section-culture.jpg);
}
.culture-right{
	float: right;
	width: 365px;
	margin-top: 95px;
	margin-right: 85px;
}
.culture-title{
	text-align: center;
	margin-bottom: 65px;
}
.culture-title h2{
	color: #FFFFFF;
	font-weight: normal;
}
.culture-ul li{
	padding: 15px 0;
	margin-bottom: 22px;
}
.culture-ul div{
	float: left;
	width: 33px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	background-size: 33px;
}
.num1{
	background-image: url(../img/culture-num-bg.png);
}
.num2{
	background-image: url(../img/culture-num-bg.png);
	background-position: bottom;
}
.culture-text{
	float: left;
	font-size: 18px;
	width: 310px;
	margin-left: 15px;
	margin-top: 5px;
}
/* 公司环境 */
.about-env{
	height: 762px;
	background-image: url(../img/about-section-env.jpg);
	text-align: center;
}
.env-title{
	padding-top: 150px;
}
.env-title h1{
	color: #FFFFFF;
	font-weight: normal;
}
.small-icon{
	width: 50px;
	position: fixed;
	right: -9px;
	top: 50%;
	margin-top: -89px;
	z-index: 99;
}
.small-li{
	width: 45px;
	margin-top: 10px;
	background-color: #2aaed6;
	transform: skew( -13deg);
}
.small-li:first-child{
	background-color: #faf7f7;
}
.small-li a{
	display: inline-block;
	width: 40px;
	height: 37px;
	background-repeat: no-repeat;
	transform: skew( 13deg);
	margin-right: 5px;
}
.small-link1{
	background-image: url(../img/icon-about.png);
	background-position: bottom center;
}
.small-link2{
	background-image: url(../img/icon-history.png);
	background-position: top center;
}
.small-link3{
	background-image: url(../img/icon-culture.png);
	background-position: top center;
}
.small-link4{
	background-image: url(../img/icon-env.png);
	background-position: top center;
}

